.idea
venv
kubectl
kubectl.sha256
!images/.gitkeep

ui-pics/*
!ui-pics/.gitkeep

dataset.zip
*.cache
dataset
.env
yolov8n.pt
yolov8n-seg.pt
yolov8s.pt
llm-api/static
azure.py
runs

yolov8n.pt
yolov8s.pt
