user  nginx;
worker_processes  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    keepalive_timeout  0;
    log_format  main  '$host $request_method $status $request_uri $http_x_forwarded_for';

    #     Time: [$time_local]
    #     userAgent: "$http_user_agent"

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #gzip  on;

    include /etc/nginx/conf.d/*.conf;
    client_max_body_size 100M;
}
